[defaults]
host_key_checking = False
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ~/.ssh/taskapp   # CHANGE THIS
timeout = 60
gathering = smart
retry_files_enabled = False
interpreter_python = /usr/bin/python3
